blockquote:before {
    content: "\201C";
    position: absolute;
    left: 0;
    top: 43px;
    font-size: 75px;
    color: #EDEDED;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-style: initial;
}